body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100%;
  color: #40514E;
  background-color: #EFFFFD;
}

p {
  line-height: 2;
}

h1 {
  margin: 50px auto 40px auto;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  color: #4948da;
}

.h21 {

margin-top: 0;

}
.topest {
  padding-top: 20px;
}

.top-container2 {
  position: relative;
  padding-top: 12rem;
  float: left;
  margin-left: 20%;
}

.intropic {
  width: 40%;
  padding-top: 3rem;
  padding-right: 3rem;
}

.middle-container {
  margin: 40px 0;
}

h2 {
  color: #4948da;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #4948da;
}

.bottom-cloud {
  position: absolute;
  left: 18rem;
  bottom: 10rem;
}

.top-cloud {
  position: absolute;
  top: 120px;
  right: 20px;
}

hr {
  border: dotted #afb0ef 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.firsthr {

  margin: 150px auto;
}
.intro {
  width: 40%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 20px auto 100px auto;
  text-align: left;
}


.skill1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill3 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-message {
  color: #40514E;
  margin: 20px auto 60px;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background: #c34af7;
  background-image: -webkit-linear-gradient(top, #c34af7, #780fd4);
  background-image: -moz-linear-gradient(top, #c34af7, #780fd4);
  background-image: -ms-linear-gradient(top, #c34af7, #780fd4);
  background-image: -o-linear-gradient(top, #c34af7, #780fd4);
  background-image: linear-gradient(to bottom, #c34af7, #780fd4);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #ac7efc;
  background-image: -webkit-linear-gradient(top, #ac7efc, #8856e3);
  background-image: -moz-linear-gradient(top, #ac7efc, #8856e3);
  background-image: -ms-linear-gradient(top, #ac7efc, #8856e3);
  background-image: -o-linear-gradient(top, #ac7efc, #8856e3);
  background-image: linear-gradient(to bottom, #ac7efc, #8856e3);
  text-decoration: none;
}

.bottom-container {
  background-color: #5859de;
  padding: 50px 0 20px;
  margin-top: 100px;

}

a {
  color: #ca7cdd;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;

}
